.fixed-navbar {
    background: white;
    box-shadow: 0 0 3px rgba(black, .3);
    z-index: 999;
}

.navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    padding: 0 50px;
    top: 0;
    left: 0;
    right: 0;
    transition: .3s ease;
    position: fixed;
}

.navbar-wrapper .name {
    font-weight: 600;
    font-size: large;
}

.navbar-wrapper .links-wrapper a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-family: "Open Sans";
    opacity: 0.6;
    transition: all 0.2s ease-in-out;
    font-size: 14px;
    background-color: transparent;
    outline: none;
    border: 0px;
}

.navbar-wrapper .links-wrapper a:hover {
    opacity: 1;
}

.navbar-wrapper .links-wrapper .active {
    color: black;
}


/* @media screen and (min-width:1024px) {
	Desktop
}
@media screen and (min-width:768px) and (max-width: 1023px) {
	Tablet
}
@media screen and (max-width:767px){ 
	Mobile
} */